body {
		background: #9CFFDB;
    font-family: 'Times New Roman', Calibri;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html {
  font-size: 100%;
}



h1,h2, {
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  color: #444;
  font-size: 14px;
  letter-spacing: 4px;
}

h3{
  color: #ffa500 ;
  font-size: 17px;
  letter-spacing: 4px;
}

h4{
  color: #444 ;
  font-size: 17px;
  letter-spacing: 4px;
}

h5{
  color: #9400D3;
  font-size: 15px;
  letter-spacing: 1px;
}



.iscream {
  float: left;
  padding: 17px 0 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.iscream a {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}

.links a {
  color: #000;
  font-size: 16px;
  font-weight: 30;
  padding-left:10px;

}

.links {
  padding-left:42.5vw;
  
}


.confirm {
    border: #000
    border-width: 1px;
    background-color: #c6c9ce
;    padding: 1px 17px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
}



#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}


#header .header-thumb {
  background: #ffffff;
  border: 10px solid #f9f9f9;
  padding:2px 2px;
}



.header-one,{
  height: 120vh;
  min-height: 0px;
  padding-top: 50px;
}

.header-two {
  height: 2000vh;
  min-height: 0px;
  padding-top: 50px;
}

.header-one {
  background: url('images/Background.jpg');
}

.header-two {
  background: url('images/BnW.jpg');
}







